@model SupplierPriceTracker.ViewModels.ProductFormVM

<form asp-action="Create" class="gap-4 d-flex flex-column">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<input asp-for="Name" class="form-control" oninput="SearchProduct(this.value)" value="" placeholder="Nome do Produto" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<select name="MeasureUnitId" asp-for="MeasureUnitId">
			@foreach (var e in Model.MeasureUnits)
			{
				<option value=@e.Id>@e.Name</option>
			}
		</select>
		<span asp-validation-for="MeasureUnit" class="text-danger"></span>
	</div>
	<div class="form-group">
		<select name="CategoryId" asp-for="CategoryId">
			@foreach (var e in Model.ProductCategories)
			{
				<option value=@e.Id>@e.Name</option>
			}
		</select>
		<span asp-validation-for="MeasureUnit" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="submit" value="Novo Produto" class="btn btn-primary" />
	</div>
</form>